#one{
width: 400px;
height:400px;
background-color:orange;
}
#two{
width: 300px;
height:300px;
background-color:lightblue;
}
#three{
width: 200px;
height:300px;
background-color:pink;
}
#four{
width: 100px;
height:100px;
background-color:yellow;
}